.styleNavbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000b71;
    padding: 15px;
}
.styleNavbar li{
    list-style: none;
    margin: 0 10px;
}
.styleNavbar a{
    text-decoration: none;
    color: white
}